@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
#home {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(90deg, rgba(7, 0, 8, 0.158) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.164) 100%),
    url(../imgs/background.jpg);
  background-attachment: fixed;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ========= CURSOR TYPED */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}



@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* GERAIS */
/* TIPOGRAFIA */
h2 {
  letter-spacing: 2px;
}

.box {
  padding: 25px 0;
}

span.underline {
  text-decoration: underline;
}

.rotate {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* ========== HEADER */
/* NAV BRAND */
img.logo-img {
  width: 80px;
}

/* NAV BACKGROUND */
.nav-bg {
  background: rgba(0, 0, 0, 0.418);
}

/*  NAV LINKS */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 0 20px;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  transition: .5s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(199, 82, 245);
}

/* ========== HOME */
/* TYPED */
#home #typed {
  font-family: 'Short Stack', cursive;
}

#home .typed-cursor {
  font-size: 42px;
}


/* ICON */
#home .social-media {
  position: relative;
  top: 200px;
}

#home .social-media ion-icon {
  font-size: 3rem;
  color: #fff;
  transition: 0.5s ease;
}

.social-media-custom {
  padding: 0 20px;
}

#home .social-media ion-icon:hover {
  color: rgb(46, 166, 247);
}

/* =========== ABOUT ME */
section#about {
  background: rgba(7, 7, 7, 0.397);
}

#about img.rocket-zoom {
  transform: scale(1.1);
}

.title::after {
  content: '';
  display: block;
  width: 35%;
  left: 35%;
  margin-top: 5px;
  border-bottom: 1px solid rgb(174, 0, 255);
  position: absolute;
}

/*======== FORM CONTACT*/
section#contact ion-icon {
  font-size: 30px;
  margin: 10px 0;
}

section#contact span {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

/* ========== FOOTER */
#footer {
  background: #000;
}

#footer .social-medias a {
  color: #fff;
  transition: .5s;
}

#footer .social-medias a:hover {
  text-decoration: none;
  color: rgb(199, 82, 245);
}

/* RESPONSIVIDADE */
@media (max-width: 575.98px) {
  #typed {
    font-size: 1.9em;
  }
}

@media (min-width: 576px) {
  #typed {
    font-size: 2.1em;
  }
}

@media (min-width: 768px) {
  #typed {
    font-size: 2.3em;
  }
}


@media (min-width: 992px) {
  #typed {
    font-size: 2.9em;
  }
}


@media (min-width: 1200px) {
  #typed {
    font-size: 2.7em;
  }
}


/* SCROLL */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(172, 0, 252, 0.623);
  border-radius: 20px;
  border: 3px solid rgb(46, 2, 9);
}