@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
header {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 85px;
  position: fixed;
  background: rgba(0, 0, 0, 0.452);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
}

header .mms-logo {
  width: 60%;
}

header .mms-logo img {
  width: 65px;
  cursor: pointer;
}

.menu ul li,
.menu ul li a {
  list-style: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.5s ease;
}

header .menu ul {
  display: flex;
}

.menu ul li a:hover {
  color: rgb(202, 102, 241);
}

/*  HOME  */
#home .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../imgs/background.jpg);

  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
}

/* SOCIAL MEDIA */
#home .container .social-media {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  justify-items: center;
  width: 0vw;
  height: 80%;
  position: absolute;
  z-index: 999;
}

/* SOCIAL MEDIA ICONS */
#home .container .social-media ion-icon {
  padding: 50px 0px;
  font-size: 3rem;
  padding: 0 50px;
  color: #fff;
  transition: 0.5s ease;
}

#home .container .social-media ion-icon:hover {
  color: rgb(46, 166, 247);
}

/* ANIMA ICONS SOCIAL MEDIA */
/* TRANSLATE3D EIXO (X , Y , Z) */
/* #home .container .social-media.anima {
  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  transition: 0.3s;
} */

/* .anima-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
} */
#home .container .wrapper {
  position: absolute;
  font-family: 'Short Stack', cursive;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  /* font-weight: bolder; */
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ABOUT ME */

#about .container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../imgs/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  /* justify-content: space-between; */
}

#about .container .title {
  font-family: 'Open Sans', sans-serif;
  /* font-weight: bold; */
  border-radius: 50px;
  min-width: 56vw;
  width: 56vw;
  margin-top: 15vh;
  margin-left: 30px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

#about .container .title h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}

#about .container .title p {
  color: #fff;
  width: 100%;
  margin-top: 50px;
  font-size: 1.2rem;
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

#about .container .space-img {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: auto;
}
#about .container .space-img img {
  width: 500px;
  /* transform: rotate(20deg); */
}

/*   PORTFÓLIO  */
#port .container {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../imgs/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#port .container input[type='radio'] {
  display: none;
}

#port .container .card {
  position: absolute;
  width: 40%;
  height: 80%;
  left: 0;
  right: 0;
  margin: 150px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 10px rgba(21, 111, 195, 0.5);
  transition: 0.4s ease;
  cursor: pointer;
}
#port .container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#port .container .card h1 {
  position: absolute;
  z-index: 9;
  color: #fff;
  font-size: 2.2rem;
  margin-top: 60px;
}

#port .container .card p {
  position: absolute;
  z-index: 9;
  color: #fff;
  width: 400px;
  margin-top: 200px;
  text-align: justify;
}

#port .container .card button {
  position: absolute;
  z-index: 9;
  margin-top: 400px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background: rgba(21, 111, 195, 0.5);
  text-transform: uppercase;
  cursor: pointer;
}

#port .container .cards {
  position: relative;
  width: 100%;
  height: 100%;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/*  CONTACT */

#contact .container {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../imgs/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#contact .container .content-contact {
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  height: 60vh;
  margin: 0 auto;
  padding: 200px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#contact .content-contact .contact-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

#contact .content-contact .contact-left h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#contact .content-contact .line {
  width: 350px;
  height: 3px;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact .content-contact .contact-left ion-icon {
  font-size: 2rem;
  padding: 20px 0;
}

#contact .content-contact .contact-left span {
  font-size: 1.2rem;
  padding: 5px 0;
}

#contact .content-contact .contact-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

#contact .content-contact .contact-right h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#contact .content-contact .contact-right input[type='email'],
#contact .content-contact .contact-right input[type='text'] {
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  outline: none;
}

#contact .content-contact .contact-right textarea {
  width: 100%;
  height: 120px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 15px 20px;
  outline: none;
}

/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 30px;
}
footer p,
footer span {
  color: #fff;
  font-size: 1.2rem;
}

.social-medias a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s ease;
}
.social-medias a:hover {
  text-decoration: underline;
}
/* 
@media screen and (max-width: 1470px) {
} */

/* SCROLL */

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(172, 0, 252, 0.623);
  border-radius: 20px;
  border: 3px solid rgb(46, 2, 9);
}
